<!DOCTYPE html>
<html>
    <body>
        <form action="{% url 'smallsite:objectresult' %}" method="post">
        {% csrf_token %}
            <fieldset>
                <div>
                    <label for="firstname">Firstname : </label><input id="firstname" name="object_search_field_firstname" type="text"/>
                    <label for="surname">Surname : </label><input id="surname" name="object_search_field_surname" type="text"/>
                </div>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <p><input type="submit" value="Search" /></p>
            </fieldset>
        </form>
    </body>
</html>